absl-py
altair
appnope
asttokens
astunparse
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
chex
click
comm
contourpy
cvzone
cycler
debugpy
decorator
etils
exceptiongroup
executing
flatbuffers
flax
fonttools
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jax
jaxlib
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
ml-dtypes
msgpack
namex
narwhals
nest-asyncio
numpy
oauthlib
opencv-contrib-python
opencv-python-headless
opt_einsum
optax
optree
orbax-checkpoint
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scipy
sentencepiece
six
smmap
sounddevice
split-folders
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow == 2.15
tensorflow-decision-forests
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflowjs
tensorstore
termcolor
tf_keras
tk
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
wurlitzer
zipp
